.navbar-container{
    padding: 2rem;
    display: flex;
    justify-content: end;
    background-color: rgb(39, 196, 175);
    align-items: center;
    width: 95
    vw;

    a{
        padding: 0 25px;
        margin: 0 10px;
    }

    button  {
        padding:   15px;
        border: none;
        border-radius: 22px;
        font-size: large;
        cursor: pointer;
        background-color: rgb(39, 39, 38);
    }

    .darkButton {
    background-color: rgb(255, 252, 221); 
    }
    
}

